/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* основной цвет шрифта #212121*/
/* вторичный цвет шрифта #757575 */
/* цвет шрифта на темном фоне  #FFFFFF */
/* цвет шрифта на темном фоне с прозрачностью rgba(255, 255, 255, 0,6) */
/* цвет шрифта при ховере #2196F3 */
/* цвет затемнения футера #2F303A */
/* цвет затемнения главной картинки и некоторых маленьких (#2F303A
80 %) rgba(47, 48, 58, 0,8) */
/* вторичный фон боди #F5F4FA */
/* цвет задвигающегося окна (#2196F3
90 %) rgba(33, 150, 243, 0,9) */
:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --body-color: #ffffff;
  --secondary-body-color: #f5f4fa;
  --blackout-color: #2f303a;
  --color-icon: #afb1b8;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

/* h2 {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-style: 36px;
  line-height: 1.16;
  letter-spacing: 3%;
}

h3 {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
}

p {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
} */

ul {
  list-style: none;
}

a,
ins {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--body-color);
}

/* page ===================== */
.page {
  width: 1600px;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}
/* logo=================================== */
.logo-web {
  color: var(--link-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site-nav a=============================*/
.site-nav a {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--link-color);
}

.site-nav .current {
  color: var(--link-color);
}

/* auth-nav ==========================*/
.auth-nav a {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--link-color);
}

/* hero-title =========================*/
.hero-title {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: inherit;
}

.hero-button {
  color: var(--body-color);
  background-color: var(--link-color);
  cursor: pointer;
}

/* button============================== */
.button {
  color: var(--body-color);
  background-color: var(--link-color);
  cursor: pointer;
}

/* noname============================ */
/* .noname {}  */
/* .noname-menu{} */
/* .noname-item{} */
.noname-title {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: inherit;
}
/* .noname-merit{} */

/* works========================== */
/* .works{} */
.works-title {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: inherit;
}
/* .works-icons{} */
/* .works-item{} */
/* .works-rubric{} */

/* team ========================*/
.team {
  background-color: var(--secondary-body-color);
}
.team-title {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: inherit;
}
/* .team-workers{} */
/* .team-item{} */
.team-header {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: inherit;
}

.team-rubric {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: inherit;
}
/* .team-social{} */

/* clientage===================== */
/* .clientage{} */
.clientage-header {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: inherit;
}
/* .clientage-list{} */
/* .clientage-icon{} */
/* .clients-list{}*/

/* footer===================== */
/* .footer{} */
/* .footer-item {}*/
/* .footer-address{} */
/* .footer-social{} */
/* .footer-list{} */
.footer-street {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
}
.footer-mail a {
  color: var(--secondary-color);
  /* rgba(255, 255, 255, 0.6) */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
}
.footer-tel a {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: inherit;
}

/* portfolio ==============================*/
/* main */
/* sentence */
.main-sentence .button {
  background-color: var(--body-color);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;
}
.main-sentence .button:hover,
.main-sentence .button:focus {
  background-color: var(--link-color);
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
}
/* .main-item{} */
/* .main-menu{} */
.main-heading {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: inherit;
  /*6%  */
}

.main-rubric {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: inherit;
}

/* footer */
.footer-button {
  display: inline-block;
  height: 50px;
  width: 200px;
  padding: 10px 62px 10px 29px;
  border-radius: 3px;
  color: var(--body-color);
  background-color: var(--link-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;

  vertical-align: center;
  letter-spacing: inherit;
}

.button-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 0px;
  background-color: yellow;
  vertical-align: middle;
}
